{% extends "base.html" %}

{% block content %}
  <h1>Cook
    <a href="{% url 'kitchen:cook-delete' pk=cook.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'kitchen:cook-update' pk=cook.id %}" class="btn btn-secondary link-to-page">
      Edit
    </a>
  </h1>
  <div class="ml-3">
    <p><strong>Username:</strong> {{ cook.username }}</p>
    <p><strong>First name:</strong> {{ cook.first_name }}</p>
    <p><strong>Last name:</strong> {{ cook.last_name }}</p>
    <p><strong>Years of experience:</strong> {{ cook.years_of_experience }}</p>
    <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>
  </div>


  <div>
      <h4>Dishes</h4>
        {% for dish in cook.dishes.all %}
        <hr>
        <p><strong>Name:</strong> {{ dish }}</p>
        <p><strong>Description:</strong> {{ dish.description }}</p>
        <p class="text-muted"><strong>Id:</strong> {{dish.id}}</p>
      {% empty %}
        <p>No dishes!</p>
    {% endfor %}
  </div>
{% endblock %}
