{% extends "base.html" %}

{% block content %}
<h1>
   {{ dish.name }}
   <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
   Delete
   </a>
   <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
   Edit
   </a>
</h1>
<p class="ml-3"><strong>Dish Type:</strong> {{ dish.dish_type.name }}</p>
<hr>
<h3>Description</h3>
<p class="ml-3">{{ dish.description }}</p>
<hr>
<h3>Price</h3>
<p class="ml-3">{{ dish.price }}</p>
<hr>
<h3>Cooks
{% if user in dish.cooks.all %}
    <a href="{% url 'kitchen:manage-cook' pk=dish.id %}" class="btn btn-danger link-to-page">
    Delete me from this dish
    </a>
  {% else %}
    <a href="{% url 'kitchen:manage-cook' pk=dish.id %}" class="btn btn-success link-to-page">
    Assign me to this dish
    </a>
{% endif %}
</h3>
<ul>
   {% for cook in dish.cooks.all %}
   <li>{{ cook.first_name }} {{ cook.last_name }}</li>
   {% endfor %}
</ul>
{% endblock %}