{% extends "base.html" %}

{% block content %}
  <div class="text-center login-windows">
    <h1>Kitchen</h1>
    <p>Welcome to the Best Kitchen ever!</p>
    <h2>Managed content</h2>
    <p>The Restaurant Kitchen has the following records:</p>
    <ul class="list-unstyled">
        <li><strong>Dishes:</strong> {{ num_dishes }}</li>
        <li><strong>Cooks:</strong> {{ num_cooks }}</li>
        <li><strong>Dish Types:</strong> {{ num_dish_types }}</li>
    </ul>
    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
  <img src="https://cdn.icon-icons.com/icons2/2640/PNG/512/fork_knife_cutlery_icon_159296.png" width="auto" height="70">
  </div>


{% endblock %}
